.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-color: 0.3s ease, filter 0.3s ease;
}

.profile__image-container {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
}

.profile__edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile__image-container:hover .profile__image {
  filter: brightness(50%); /* Затемнение */
}

.profile__image-container:hover .profile__edit-icon {
  opacity: 1; /* Показывается при наведении */
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
